<!-- <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">

    <div id="main-nav" class="mdl-layout__header-row mdl-color--primary-dark">
      <div class="mdl-grid fixed-width">
        <a class="mdl-layout-title" href="{{@site.url}}">
          <img alt="Angular Expo" src="{{asset "/img/angular-white-transparent.svg"}}" height="62" width="62">
          {{@site.title}}
        </a>
        <div class="mdl-layout-spacer"></div>
        <div class="">
          <nav class="mdl-navigation">
            {{#foreach navigation}}
              <a href="{{url absolute="true"}}" class="mdl-navigation__link {{#if current}} is-active{{/if}} mdl-typography--text-uppercase mdl-typography--font-bold">{{label}}</a>
            {{/foreach}}
          </nav>
        </div>
      </div>
    </div>

</header> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{{@site.url}}">
      <img alt="Angular Expo" src="{{asset "/img/angular-white-transparent.svg"}}" height="62" width="62">
      {{@site.title}}
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {{#foreach navigation}}
        <li class="nav-item {{#if current}} is-active{{/if}}">
          <a href="{{url absolute="true"}}" class="nav-link">{{label}}</a>
        </li>
        {{/foreach}}
      </ul>
    </div>
  </div>
</nav>
