
<nav class="navbar navbar-expand-lg navbar-transparent">
  <div class="container">
    <a class="navbar-brand" href="{{@site.url}}">
      <img alt="Angular Expo" src="{{asset "/img/logo/angular.png"}}" height="24" width="24">
      {{@site.title}}
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {{#foreach navigation}}
        <li class="nav-item {{#if current}} is-active{{/if}}">
          <a href="{{url absolute="true"}}" class="nav-link">{{label}}</a>
        </li>
        {{/foreach}}
      </ul>
    </div>
  </div>
</nav>
