<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">

    <div id="main-nav" class="mdl-layout__header-row mdl-color--primary-dark">
      <div class="mdl-grid fixed-width">
        <a class="mdl-layout-title" href="{{@site.url}}">
          <img alt="Angular Expo" src="{{asset "/img/angular-white-transparent.svg"}}" height="62" width="62">
          {{@site.title}}
        </a>
        <div class="mdl-layout-spacer"></div>
        <div class="">
          <nav class="mdl-navigation">
            {{#foreach navigation}}
              <a href="{{url absolute="true"}}" class="mdl-navigation__link {{#if current}} is-active{{/if}} mdl-typography--text-uppercase mdl-typography--font-bold">{{label}}</a>
            {{/foreach}}
          </nav>
        </div>
      </div>
    </div>

</header>
