<article class="mdl-cell mdl-card angular-expo--shadow">
  <a class="mdl-card__media" href="{{ url }}">
    <div style="background-image:url({{image}})" title="{{title}}"></div>
  </a>
  <div class="mdl-card__title">
      <h2 class="mdl-card__title-text"><a href="{{ url }}">{{title}}</a></h2>
  </div>
  <div class="mdl-card__supporting-text">
      <div class="content-preview">{{content}}</div>
      <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>
  </div>
  <div class="mdl-card__actions">
    <a href="{{ url }}" class="mdl-button">Read more</a>
  </div>
</article>
