
<div class="card" style=" margin: 8px;width: calc(33.33333% - 16px);max-height:400px;overflow:hidden">
  <a class="card-img-top" href="{{ url }}">
    <div style="background-image:url({{feature_image}}); height:200px;background-repeat: no-repeat;background-position: center center;  background-attachment: scroll;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;transition: all .2s ease;-moz-transition: all .2s ease;-ms-transition: all .2s ease;-webkit-transition: all .2s ease;-o-transition: all .2s ease;overflow: hidden;" title="{{title}}"></div>
  </a>
  <div class="card-body">
    <h4 class="card-title">
      <a target="_blank" href="{{ url }}" >{{title}}</a>
    </h4>
    <p class="card-text">{{content}}</p>
    <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>

  </div>
  <div class="card-footer">
    <h5>
      <a target="_blank" class="btn btn-link" href="{{ url }}">Read more</a>
    </h5>
  </div>
</div>
