
<div class="card">
  <div class="card-header">
    <a href="{{ url }}">
      <img src="{{feature_image}}" alt="" class="card-img-top">
    </a>
  </div>
  <div class="card-body">
    <h4 class="card-title">
      <a target="_blank" href="{{ url }}" >{{title}}</a>
    </h4>
    <p class="card-text">{{content}}</p>
    <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>

  </div>
  <div class="card-footer">
    <h5>
      <a target="_blank" class="btn btn-link" href="{{ url }}">Read more</a>
    </h5>
  </div>
</div>
