{{!< layouts/default}}

{{#post}}

<main class="content" role="main">
  <div class="page-content">
    <div class="container">
      <div class="row d-flex">
        <div class="col-md-8">
            <div class="card post-card">
              <div class="card-header">
                <a class="" href="{{ url }}">
                  <img class="article-image card-img-top" src="{{feature_image}}" border="0" alt="{{title}} - Angular">
                </a>
              </div>
              <div class="card-body">
                <div class="container">
                  <div class="tags-area">
                    <span href="{{url}}" class="text-danger">
                      <b>
                        {{tags}}
                      </b>
                    </span>
                  </div>
                  <a class="card-title" target="_blank" href="{{ url }}" >{{title}}</a>
                  <p class="card-text">{{excerpt}}</p>
                  <br>
                  <hr>
                </div>
              </div>
              <div class="card-footer">
                <div class="container">
                  <a target="_blank" class="btn btn-outline-danger btn-round" href="{{ url }}">Read more</a>
                  <a target="_blank" class="btn btn-danger btn-round" href="{{ url }}">Live Preview</a>
                  <a target="_blank" class="btn btn-secondary btn-round" href="{{ url }}">Get Hosting</a>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6">

                  <div class="card recent-posts">
                    <div class="card-header">
                      <h2 class="card-title">Recent posts</h2>
                    </div>
                    <div class="card-body">
                      {{#get "posts" limit="5" as |recents|}}
                        <ul>
                          {{#foreach recents}}
                            <li><a href="{{url}}">{{title}}</a></li>
                          {{/foreach}}
                        </ul>
                      {{/get}}
                    </div>
                  </div>

                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 ml-auto">
          {{> sidebar0}}
        </div>
      </div>
    </div>
  </div>
</main>

{{/post}}
