<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <link rel="dns-prefetch" href="//fonts.gstatic.com">
  <link rel="dns-prefetch" href="//s3.buysellads.com">
  <link rel="dns-prefetch" href="//google-analytics.com">
  <link rel="dns-prefetch" href="//www.google-analytics.com">

  <title>{{#if post.title}}{{meta_title}} - {{@site.title}}{{else}}{{meta_title}}{{/if}}</title>

  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="manifest" href="{{asset "/manifest.json"}}">
  <link rel="shortcut icon" href="{{asset "/img/favicon.ico"}}">
  <link rel="icon" sizes="128x128" href="{{asset "/img/icon_128.png"}}">

  <link rel="stylesheet" href="{{asset 'assets/css/main.css'}}">

  {{ghost_head}}

</head>
<body class="{{body_class}}">

  <div class="">
    {{navigation}}
    {{{body}}}
    {{> footer}}
  </div>

  {{ghost_foot}}
</body>
</html>
